.profile{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.logo-profile{
    width: 200px;
    height: 200px;
}

.title{
    font-size: 32px;
    letter-spacing: 5px;
    font-weight: 900;
    margin-top: 20px;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    width: 100px;
}

.btn {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
    font-weight: 400;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
}

.change-city{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
    font-weight: 400;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    width: 200px;
}